@import "../../index.css";

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.hero {
  background-image: url("hero.webp");
  background-color: var(--color-cream);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* MOBILE */
@media (max-width: 480px) {
  .categories {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .categories > * {
    width: 100%;
  }
}
